---
import TargetLink from "./TargetLink.astro";

const { name, highlight = "variable", label = "prop", target } = Astro.props;
---

<div class="cb-property">
  <span class="cb-property-label">{label}</span>
  <span class={`cb-hl cb-hl-${highlight}`}>{name}</span>
  <slot />
  {target && <TargetLink target={target} />}
</div>
